.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkmark {
    position: relative;
    box-shadow: #fbe961 0px 0px 0px 2px;
    background-color: rgba(16, 16, 16, 0.5);
    height: 20px;
    width: 20px;
    margin: 5px 10px;
    flex-shrink: 0;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    padding: 0px;
    box-sizing: border-box;
}

.sensor-update input:checked ~ .checkmark {
    box-shadow: #fbe961 0px 0px 0px 2px;
    background-color: rgba(245, 24, 24, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    padding: 0px;
    box-sizing: border-box;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.sensor-update input:checked ~ .checkmark::after {
    display: block;
}

.sensor-update .checkmark::after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
}