
#tableSensors {
    font-size: 14px;
}

#tableSensors thead th,
#tableSensors tbody td {
    padding: 6px 8px;
}

#tableSensors_wrapper {
    max-width: 100%;
 
}

*,
*:before,
*:after {
box-sizing: border-box;
}

.container1 {
    display: flex;
}

td {
width: 1px;
white-space: nowrap;
}
.botao{
float: right;
margin-right: 3vh;
margin-left: 20px;
}

#alterarVista{
width: 50px;
height: 50px;
background: url(../images/graf.ico);
border: 1px solid #B4BBBB;
border-radius: 3px;
box-shadow: 0px 0px 1px lightgrey;
display: block;
}
#botaoBack{
margin-top: 10px;
width: 50px;
height: 50px;
background: url(../images/back.png);
border: 1px solid #B4BBBB;
border-radius: 3px;
box-shadow: 0px 0px 1px lightgrey;
display: block;

}
#botaodown{
width: 50px;
height: 50px;
background: url(../images/down_3.png);
border: 1px solid #B4BBBB;
border-radius: 3px;
box-shadow: 0px 0px 1px lightgrey;
margin-top: 10px;
display: block;

}

#alterarVista:hover{
box-shadow: 0px 0px 5px grey;
}
#alterarVista:focus{
outline: none;
}
#tableSensors_wrapper{
height: 500px;
padding: 0;
}