@import url('_loader.css');
@import url('_btn_learnmore.css');
@import url('_input_select.css');
@import url('_table_big.css');
select {
    width: 100%;
}
input:hover, input:focus {
    box-shadow: none;
}