@import url('_table_small.css');
@import url('_checkbox.css');
@import url('_input_select.css');
@import url('_btn_table.css');
@import url('_btn_normal.css');
input, select {
    width: 40%;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.button-table {
    font-size: 13px;
}

.sensor-container {    
    width: 90vw;
    max-width: 1200px;
    background-color: rgba(59, 59, 59, 0.716);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    margin-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

h2 {
    margin-bottom: 1rem;
}

.sensor-update {
    width: 40%;
    border: 2px solid #fbe961;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
}

.sensor-container2 {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1200px;
    background-color: rgba(59, 59, 59, 0.716);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    margin-top: 5px;
    text-align: center;
    padding: 1rem 0;
}

.sensor-container2 > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 780px) {
    input, select {
        width: 80%;
    }

    .sensor-update {
        width: 80%;
    }

    .button-container {
        width: 80%;
    }
}