form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid green;
    position: absolute;
}

h2 {
    margin-bottom: 10px;
}

button {
    width: 10%;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fbd461;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    transition: background-color 0.5s ease, transform 0.3s ease-in-out;
    flex-direction: row;
  }
  
  button:hover {
    background-color: #f39c12;
    transform: scale(1.1);
  }

@media screen and (max-width: 425px) {
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    h2 {
        font-size: 16px;
    }
    
}