.heatmap {
    position: relative; /* Altera para posição relativa para manter as coordenadas relativas */
}

.buttonSensor.selected{
    background-color: white;
    color:#555555;
}

.typeButton.selected{
    background-color: white;
    color:#555555;
    border:  2px solid #555555;
}

body{
    width: 100%;
}