body{
    width: 100%;
}

.graph-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heatmap {
    position: relative;
}

.buttonSensor.selected{
    background-color: white;
    color:#555555;
}

.typeButton.selected{
    background-color: white;
    color:#555555;
    border:  2px solid #555555;
}

#canvasHeat {
    width: 90vw;
    height: 70vh;
}

#heatMap1 {
    display: inline-block;
    width: 90vw;
    height: 70vh;
    background-image: url("../images/plantaV3.png");
    background-size: contain;
    background-repeat: no-repeat;
}