
  
  * {
    box-sizing: border-box;
  }
  
  #container {
    height: 100vh;
    outline: 1px solid #aaa;
    position: relative;
  }
  
  #hud {
    pointer-events: none;
    padding: 10px;
    position: absolute;
    z-index: 2000;
  }
  
  #hud > div {
    padding-bottom: 4px;
  }
  
  #box {
    width: 100px;
    height: 100px;
    background: orange;
    position: absolute;
    outline: 1px solid #777;
  }