@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');


body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cartonagem.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(2px);
    z-index: -1; 
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url('../images/cartonagem.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: space-between;
}

.container .content {
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: azure;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text-sci h2 {
    font-size: 40px;
}

.text-sci h2 span { 
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.container .logreg-box {
    width: calc(100% - 58%);    
    height: 100%;
}

.logreg-box .form-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.logreg-box .form-box > form {
    padding: 0 40px;
}

.flip-box-inner > .form-box:not(.active) .flip-box-inner {
    transform: rotateY(180deg);
}

.container .line{
    height: 80%;
    border-left: 2px solid white;
    transform: translateY(12%);
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.input-box input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #ffffff00;
}

.input-box label {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-36%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {   
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(122, 98, 53);
    color: white;
    font-weight: 500;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: rgb(70, 50, 12);
    transition: all 0.3s;
}

.logotrindade{
    width: 105px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.link {  
    color: white;
    display: contents;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 12px;
    width: 100%;
    height: 45px;
}

.link:hover{
    color: rgb(122, 98, 53);
    transition: color 0.3s;
}

.flip-box {  
    background-color: transparent;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front { 
    color: white;
}

.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 946px) { 
    .container .content {
        display: none;
    }

    .container{  
        width: 93%;
        display: block;
    }

    .container .line{ 
        display: none;
    }

    .container .logreg-box {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .logotrindade{
        margin: 0;
    }

    .form-box > form {
        padding: 0 !important;
    }

    .form-box .input-box {
        width: 100%;
    }

    .btn {
        margin-bottom: 45px;
    }

    .text-sci p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 385px) {
    .container{
        width: 0;
        height: 0;
    }

    .form-box .input-box {
        width: 250px;
    }
}