@import url('_table_big.css');
@import url('_btn_table.css');
@import url('_btn_learnmore.css');
button.learn-more {
    width: 17rem;
    margin: auto; 
}
button.learn-more .button-text {
    margin: 0 0 0 1.85rem;
}