<FilesMatch "\.(csv|json)$">
Options +Indexes
Order allow,deny
Allow from all
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{HTTP_HOST} ^(?:www\.)?([a-z0-9-]+\.[a-z]+)
ErrorDocument 404 http://localhost/cartonagem-trindade/404.html